version: "3"
services:
  hmpps-electronic-monitoring-create-an-order-api:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-electronic-monitoring-create-an-order-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_URL=${HMPPS_AUTH_URL:-http://hmpps-auth:8080/auth}
      - SPRING_PROFILES_ACTIVE=local
      - SERCO_CLIENT_ID=${SERCO_CLIENT_ID:-dummy}
      - SERCO_AUTH_URL=${SERCO_AUTH_URL:-dummy}
      - SERCO_CLIENT_SECRET=${SERCO_CLIENT_SECRET:-dummy}
      - SERCO_USERNAME=${SERCO_USERNAME:-dummy}
      - SERCO_PASSWORD=${SERCO_PASSWORD:-dummy}
      - SERCO_URL=${SERCO_URL:-dummy}

  db:
    container_name: cemo-db
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    ports:
      - '5432:5432'
    networks:
      - hmpps
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "9090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  localstack:
    image: localstack/localstack:4.11
    container_name: localstack
    networks:
      - hmpps
    ports:
      - 4566:4566
    volumes:
      - './localstack:/var/lib/localstack'
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      - SERVICES=sqs,s3
      - DEFAULT_REGION=eu-west-2
    healthcheck:
      test: 'curl localhost:4566/_localstack/init | grep -q ''"READY": true'''
      interval: 60s
      timeout: 2s
      retries: 10
networks:
  hmpps:
